
<div ng-controller="commentsCtrl" ng-init="fetchData(<%= @article.id %>)">
	<div id="main" class="container">

	
		</div>

		<div id="content" class="content section row">

			<div class="col-md-8 bg-base col-lg-8 col-xl-9">

				<div class="ribbon ribbon-highlight">
					<ol class="breadcrumb ribbon-inner">
						<li><a href="/articles">Home</a></li>
						<li class="active" title="Title"><%= @article.title %></li>
					</ol>
				</div>
				
				<header class="page-header">
					
				
				<% if user_signed_in? && current_user.id == @article.user_id %>
					<a href="/articles/<%= @article.id %>/edit"><h2 class="page-title">
						<%= @article.title %>
					</h2></a>

					<div class="form-group col-lg-12 col-md-12 col-sm-12">
						<a href="/articles/<%= @article.id %>/edit"><button class="btn btn-primary" name="edit" id="submit">Edit</button></a>
					</div>

				<% else %>
					<h2 class="page-title">
						<%= @article.title %>
					</h2>
				<% end %>



				</header>

				<article class="entry style-single type-post">
					

					<div class="entry-meta indented">
						<span class="author">by <a href="blog.html">John Doe</a></span>
						<span class="entry-date"><a href="blog.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
						<span class="category">In <a href="blog.html">Social Media</a></span>
					</div>

					<div class="entry-content indented">

						
						<p>
							<%= simple_format(@article.content) %>
						</p>


					

					</div>

				</article>

				<div class="after-entry indented">

				</div>
				
				<div id="comments" class="comments-area indented">

					<h4 class="comments-title">Comments</h4>

					

					<ol class="media-list comment-list">
						<li class="media comment">

							<div ng-repeat="comment in comments" class="media-body">

								<h4 class="media-heading author-vcard">
									<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
									<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
								</h4>
								<p>{{ comment.comment }}</p>

							</div>
						</li>
					
				
					</ol>

					

					<div id="respond" class="comments-respond">

						<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>

						<form class="form-inline row" id="commentform">

						
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label class="sr-only" for="inputMessage">Comment</label>
								<textarea ng-model="newComment" class="form-control" id="inputMessage" name="comment" rows="8" aria-required="true" placeholder="Your thoughts:"></textarea>
							</div>

							<input type="hidden" name="article_id" value="<%= @article.id %>">

							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<button ng-click="addNewComment(newComment, <%= @article.id %>)" class="btn btn-primary" name="submit" id="submit">Submit comment</button>
							</div>

						</form>

					</div><!-- #respond -->

				</div><!--/#comments-->

			</div><!--/.col-md-8.col-lg-8.col-xl-9-->

			<div class="sidebar col-md-4 col-lg-4 col-xl-3">

				<aside class="widget">

					<h2 class="widget-title ribbon"><span>Newest Posts</span></h2>

					<div class="entries row">

					<% @newest.each do |article| %>

							<article class="type-post style-media-list media col-sm-6 col-md-12">


								<div class="media-body">
									<h3  class="entry-title">
										<a href="/articles/<%= article.id %>" rel="bookmark"><%= article.title %></a>
									</h3>
								</div>

							</article>
						<% end %>
					</div>

				</aside><!--/.widget-->

				
			</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

			<div class="sidebar col-md-4 col-lg-4 col-xl-3">

				<aside class="widget">

					<h2 class="widget-title ribbon"><span>Most Cited</span></h2>

					<div class="entries row">

					<% @most_cited.each do |article| %>

							<article class="type-post style-media-list media col-sm-6 col-md-12">


								<div class="media-body">
									<h3  class="entry-title">
										<a href="/articles/<%= article.id %>" rel="bookmark"><%= article.title %></a>
									</h3>
								</div>

							</article>
						<% end %>
					</div>

				</aside><!--/.widget-->

				
			</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

		</div><!--/#content-->
		
	</div><!--#main.container-->
