<!DOCTYPE html>
<html>
<head>
  <title>CapstoneApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

		

	</head>
	<body>


		<h1 class="sr-only">Summarize</h1>
			
		<nav id="header" class="header-navbar" role="navigation">

			<div class="header-navbar-inner container">
			
				<div id="brand" class="navbar-brand">
					<a href="/" rel="bookmark">

						<h1>Puust</h1>
					</a>
				</div>

				<ul class="nav nav-pages hidden-xs">
					<li><a href="/informations/1">About</a></li>
					<li><a href="/informations/2">Contact</a></li>
					<li><a href="/informations/3">Terms &amp; Conditions</a></li>
					<li><a href="/informations/4">Privacy</a></li>
				</ul>

				<ul class="nav nav-icons">
					<li>
						<a href="#" class="btn-icon" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in">
							<span class="search-toggled-out-icon glyphicon glyphicon-search"></span>
							<span class="search-toggled-in-icon glyphicon glyphicon-remove"></span>
						</a>
					</li>
				</ul>

				<div class="search-wrapper js-stoppropagation">
					<div class="search-wrapper-inner">
						<form>
							<input type="text" value="" placeholder="search ... ">
							<button class="btn-icon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</form>
					</div>
				</div>

				<ul class="nav navbar-nav">
					
					<li class="active">
						<a href="#" data-toggle="li">Publish</a>
						<div class="subnav-wrapper">
							<ul class="subnav">
								<li><a href="/articles/new">Post a new article</a></li>
								
							</ul>
						</div>
					</li>
					
					<li>
						<a href="#" data-toggle="li">User</a>

						<div class="subnav-wrapper">
							<ul class="subnav-entries">

								<% if user_signed_in? %>
									<li><a href="/users/sign_out" data-method="delete" rel="nofollow">Log out <%= current_user.user_name %></a></li>
									<li><a href="/profile">Profile</a></li>
								<% else %>
									<li><a href="/users/sign_in">Log in</a></li>
									<li><a href="/users/sign_up">Sign up</a></li>
								<% end %>
							</ul>
						</div>

					</li>
				</ul>

			</div>

		</nav>


		<div id="main" class="container">

			<% flash.each do |name, message| %>
				<div class="alert alert-<%= name %> alert-dismissible" rolde="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      <%= message %>
			    </div>
			  <% end %>
			<div ng-app="app">
				<%= yield %>
			</div>
		</div>

<footer id="footer" class="footer-area">

			<div class="footer-top container">
	
				<div class="row">

					<div class="widget col-xs-12 col-sm-4">

						<h4 class="widget-title">Categories</h4>

						<ul class="entries links links-2-cols">
							<li><a href="blog.html">Entertainment</a></li>
							<li><a href="blog.html">Event</a></li>
							<li><a href="blog.html">Technology</a></li>
							<li><a href="blog.html">Social Media</a></li>
							<li><a href="blog.html">Tactical</a></li>
							<li><a href="reviews.html">Notebook</a></li>
							<li><a href="reviews.html">Smartphone</a></li>
							<li><a href="reviews.html">Tablet</a></li>
						</ul>

					</div><!--/.col-3-->

					<div class="clearfix visible-xs"></div>

					<div class="widget col-xs-6 col-sm-2">

						<h4 class="widget-title">Information</h4>

						<ul class="entries links links">
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Advertise </a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>

					</div><!--/.col-3-->

					<div class="widget col-xs-6 col-sm-2">

						<h4 class="widget-title">Follow Us</h4>

						<ul class="entries links">
							<li><a href="blog.html"><i class="icon-facebook-sign icon-2x"></i> Facebook</a></li>
							<li><a href="blog.html"><i class="icon-twitter-sign icon-2x"></i> Twitter</a></li>
							<li><a href="blog.html"><i class="icon-google-plus-sign icon-2x"></i> Google Plus</a></li>
							<li><a href="blog.html"><i class="icon-linkedin-sign icon-2x"></i> Linkedin</a></li>
						</ul>

					</div><!--/.col-3-->

					<div class="clearfix visible-xs"></div>

					<div class="widget col-xs-12 col-sm-4">

						<h4 class="widget-title">Subscribe</h4>

						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="subscribeEmail" class="col-lg-2 control-label">EMAIL</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="subscribeEmail" placeholder="Your Email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">RSS</label>
								<div class="col-lg-10">
									<p class="form-control-static">
										<a href=""><i class="icon-rss-sign"></i> Posts</a> &nbsp; &nbsp;
										<a href=""><i class="icon-rss-sign"></i> Comments</a>
									</p>
								</div>
							</div>
						</form>

					</div><!--/.col-3-->

				</div><!--row.-->

			</div>

			<div class="footer-bottom">

				<div class="container aligncenter">

					<p>&copy;<%= Time.now.year %> Alexander Dulchinos <p>

				</div>

			</div>

		</footer>
		
		
	</body>
</html>